<div>
  <div class="expense-form-container">
    <form #expenseFormElement="ngForm"
    class="add-expense-form"
    [formGroup]="expenseForm"
    (ngSubmit)="addExpense()">
      <h4>Add Expense</h4>
      <div class="input-mat">
        <mat-form-field>
            <input
            matInput
            placeholder="Name"
            type="text"
            formControlName="nameInput">
          </mat-form-field>
          <mat-error
          class="input-mat-error"
          *ngIf="expenseForm.get('nameInput') &&
          expenseForm.get('nameInput').touched &&
          expenseForm.get('nameInput').hasError('required')">
            Please enter a name for your expense!
          </mat-error>
      </div>
      <div class="input-mat">
        <mat-form-field>
            <input
            matInput
            autocomplete="off"
            placeholder="Amount"
            type="text"
            formControlName="amountInput">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
          <mat-error
          class="input-mat-error"
          *ngIf="expenseForm.get('amountInput') &&
          expenseForm.get('amountInput').touched &&
          expenseForm.get('amountInput').hasError('required')">
            Please enter the expense amount!
          </mat-error>
          <mat-error
          class="input-mat-error"
          *ngIf="expenseForm.get('amountInput') &&
          expenseForm.get('amountInput').touched &&
          expenseForm.get('amountInput').hasError('min')">
            Minimum amount is $1
          </mat-error>
          <mat-error
          class="input-mat-error"
          *ngIf="expenseForm.get('amountInput') &&
          expenseForm.get('amountInput').touched &&
          expenseForm.get('amountInput').hasError('pattern')">
            Please enter a numeric amount value
          </mat-error>
      </div>
      <div class="input-mat">
        <mat-form-field>
          <mat-select
          placeholder="Category"
          formControlName="categorySelect">
            <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error
        class="input-mat-error"
        *ngIf="expenseForm.get('categorySelect') &&
        expenseForm.get('categorySelect').touched &&
        expenseForm.get('categorySelect').hasError('required')">
          Please select the expense category!
        </mat-error>
      </div>
      <div class="input-mat">
        <mat-form-field>
          <input
          matInput
          placeholder="Choose a date"
          [matDatepicker]="datePicker"
          formControlName="dateInput">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
        <mat-error
        class="input-mat-error"
        *ngIf="expenseForm.get('dateInput') &&
        expenseForm.get('dateInput').touched &&
        expenseForm.get('dateInput').hasError('required')">
          Please select the expense date!
        </mat-error>
      </div>
      <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!expenseForm.valid">Add Expense</button>
    </form>
  </div>
  <div class="expense-list-container">
    <div class="expense-list">
      <h4>Expenses</h4>
      <mat-list *ngIf="appConfigService.loggedInUser.expenses.length">
        <mat-list-item class="expense-item" style="height: 100%"
        *ngFor="let expense of appConfigService.loggedInUser.expenses">
          <mat-card class="expense-item">
            <mat-card-title class="expense-item-field">{{ expense.name }}</mat-card-title>
            <span class="expense-item-field">Amount: </span>${{ expense.amount }}
            <span class="expense-item-field">Category: </span>{{ expense.category }}
            <span class="expense-item-field">Date: </span>{{ expense.expenseDate | date }}
          </mat-card>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
