h4 {
  color: #3f51b5;
}

.input-mat {
  margin-bottom: 1rem;
}

.input-mat-error {
  font-size: 75%;
}

.expense-form-container {
  display: inline-block;
  width: 50%;
  float: left;
}

.expense-list-container {
  display: inline-block;
  width: 50%;
}

.add-expense-form {
  width: 30%;
  margin-top: 4rem;
  margin-left: 4rem;
}

.expense-list {
  margin-top: 4rem;
}

.expense-item {
  width: 100%;
  margin-bottom: 0.5rem;
}

.expense-item-field {
  font-weight: bold;
}
