<mat-sidenav-container class="sidenav-container" [ngClass]="{'bg': router.url === '/'}">
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <a mat-button class="app-title" [routerLink]="['/']">Money Tracker</a>
        <a mat-button *ngIf="appConfigService.loggedInUser" [routerLink]="['/expenses']">Expenses</a>
        <a mat-button *ngIf= "appConfigService.loggedInUser" [routerLink]="['/analytics']">Analytics</a>
        <div class="welcome-label">
          <span *ngIf= "appConfigService.loggedInUser">
            Welcome, {{ appConfigService.loggedInUser.firstName }}
          </span>
          <a
          mat-button
          *ngIf= "!appConfigService.loggedInUser"
          [routerLink]="['/signin']">Sign In</a>
          <a
          mat-button
          *ngIf= "!appConfigService.loggedInUser"
          [routerLink]="['/signup']">Sign Up</a>
          <a
          mat-button
          *ngIf= "appConfigService.loggedInUser"
          (click)="signOut()"
          [routerLink]="['/']">Sign Out</a>
        </div>
      </mat-toolbar>
      <div class="home-text" *ngIf="router.url === '/'">
        <h1>Effortlessly manage your finances in one place</h1>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
