a {
  cursor: pointer;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.welcome-label {
  margin-left: auto;
  margin-right: 0;
}

.home-text {
  color: mintcream;
  text-align: center;
  width: 51%;
  margin-top: 11rem;
}

.bg {
  background-image: url("../../../assets/jpg/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
