<mat-toolbar color="primary">
  <a mat-button class="app-title" [routerLink]="['/']">Money Tracker</a>
</mat-toolbar>
<div>
  <form [formGroup]="signUpForm"
  (ngSubmit)="signUp()"
  class="signup-form">
    <h2 color="primary">Sign Up</h2>
    <mat-form-field>
      <input autofocus
      type="email"
      matInput
      placeholder="Email"
      formControlName="emailInput">
    </mat-form-field>
    <mat-error
    class="input-mat-error"
    *ngIf="signUpForm.get('emailInput') &&
    signUpForm.get('emailInput').touched &&
    signUpForm.get('emailInput').hasError('required')">
        Email is <strong>required</strong>
    </mat-error>
    <mat-error
    class="input-mat-error"
    *ngIf="signUpForm.get('emailInput') &&
    signUpForm.get('emailInput').touched &&
    signUpForm.get('emailInput').hasError('email')">
        Invalid email format
    </mat-error>
    <mat-form-field>
      <input type="password"
      matInput
      placeholder="Password"
      formControlName="passwordInput">
    </mat-form-field>
    <mat-error
    class="input-mat-error"
    *ngIf="signUpForm.get('passwordInput') &&
    signUpForm.get('passwordInput').touched &&
    signUpForm.get('passwordInput').hasError('required')">
        Password is <strong>required</strong>
    </mat-error>
    <mat-form-field>
      <input type="text"
      matInput
      placeholder="First Name"
      formControlName="firstNameInput">
    </mat-form-field>
    <mat-error
    class="input-mat-error"
    *ngIf="signUpForm.get('firstNameInput') &&
    signUpForm.get('firstNameInput').touched &&
    signUpForm.get('firstNameInput').hasError('required')">
        First Name is <strong>required</strong>
    </mat-error>
    <mat-form-field>
      <input type="text"
      matInput
      placeholder="Last Name"
      formControlName="lastNameInput">
    </mat-form-field>
    <mat-error
    class="input-mat-error"
    *ngIf="signUpForm.get('lastNameInput') &&
    signUpForm.get('lastNameInput').touched &&
    signUpForm.get('lastNameInput').hasError('required')">
        Last Name is <strong>required</strong>
    </mat-error>
    <button mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!signUpForm.valid">Sign Up</button>
    <mat-error *ngIf="userAlreadyExists">
      User already exists!
    </mat-error>
    <div>
      <span>Already have an account? </span><a [routerLink]="['/signin']">Sign in</a>
    </div>
    <mat-spinner *ngIf="isFormSubmitted" [diameter]="40" color="accent"></mat-spinner>
  </form>
</div>
