button {
  margin: 1rem 0;
}

h2 {
  color: #3f51b5;
}

mat-form-field {
  display: block;
}

.input-mat-error {
  font-size: 75%;
  margin-bottom: 1rem;
}

.signup-form {
  width: 30%;
  margin: 2rem auto;
}
