@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}
.mat-list-item-content {
  padding-left: 0 !important;
}
.app-title {
  font-size: 125%;
  margin-right: 2rem;
}
