<mat-toolbar color="primary">
  <a mat-button class="app-title" [routerLink]="['/']">Money Tracker</a>
  </mat-toolbar>
  <div>
    <form [formGroup]="signInForm"
    (ngSubmit)="signIn()"
    class="signin-form">
      <h2 color="primary">Sign In</h2>
      <mat-form-field>
        <input autofocus
        type="email"
        matInput
        placeholder="Email"
        formControlName="emailInput">
      </mat-form-field>
      <mat-error
      class="input-mat-error"
      *ngIf="signInForm.get('emailInput') &&
      signInForm.get('emailInput').touched &&
      signInForm.get('emailInput').hasError('required')">
          Email is <strong>required</strong>
      </mat-error>
      <mat-error
      class="input-mat-error"
      *ngIf="signInForm.get('emailInput') &&
      signInForm.get('emailInput').touched &&
      signInForm.get('emailInput').hasError('email')">
          Invalid email format
      </mat-error>
      <mat-error
      class="input-mat-error"
      *ngIf="incorrectEmail">
          That email is not registered!
      </mat-error>
      <mat-form-field>
        <input type="password"
        matInput
        placeholder="Password"
        formControlName="passwordInput">
      </mat-form-field>
      <mat-error
      class="input-mat-error"
      *ngIf="signInForm.get('passwordInput') &&
      signInForm.get('passwordInput').touched &&
      signInForm.get('passwordInput').hasError('required')">
          Password is <strong>required</strong>
      </mat-error>
      <mat-error
      class="input-mat-error"
      *ngIf="incorrectPassword">
          Incorrect password!
      </mat-error>
      <button mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!signInForm.valid">Sign In</button>
      <div>
        <span>Don't have an account? </span><a [routerLink]="['/signup']">Sign up</a>
      </div>
      <mat-spinner *ngIf="isFormSubmitted" [diameter]="40" color="accent"></mat-spinner>
    </form>
  </div>
